.navbar{
    width: 100%;
    padding: 20px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color:white ;
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.nav-links{
    display: flex;
    gap: 30px;
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}